@media (min-width:320px) and (max-width:767px){

    header{
        background-color:rgba(128, 128, 128, 0.14);
    }

    header .all-sides{
    grid-template-columns: 1fr;

    }

    header .all-sides .right__side{
        display: none;
    }

    header .all-sides .left__side{
        justify-items: center;
    }

    header .all-sides .left__side a img{
        height: 1.8rem;
    }

    .banner{
        height: 100vh;
    }

    .un-banner div{
    grid-template-columns: repeat(4,auto);
    }

.un-banner div img{ 
    height: 1.8rem;
}


.section-one .part1 span ,.section-two .part1 span,.section-three .part1 span{
    font-size: 4rem;
}

.section-one .part1 .p1 , .section-two .part1 .p1 , .section-three .part1 .p1{
    font-size: 2rem;
}

.section-one .part1 .p2 , .section-two .part1 .p2 , .section-three .part1 .p2{
    font-size: 1.2rem;
    font-weight: 500;
}
   .banner .layout .content__banner{
    margin-top: 25%;
    margin-left: 0;
    width: 100%;
    justify-items: center;
   }

   .banner .layout .content__banner p{
    display: none;
   }
.banner .layout .content__banner h1{
    font-size: 3rem;
    line-height: 1.5;
    text-align: center;
}

.banner .layout .content__banner .btn__banner{
    display: grid;
    justify-items: center;
    grid-template-columns: auto auto;
}
.banner .layout .content__banner .btn__banner .btn1{ 
    font-size: 1rem;
    margin-right:0.5rem;
}

.banner .layout .content__banner .btn__banner .btn2{
    font-size: 1rem;


}

.banner .layout .content__banner .custmer{
    margin-top: 5rem;
    grid-template-columns: repeat(6,30px);

}

.banner .layout .content__banner .custmer img{
    width: 3.8rem;
    height: 3.8rem;
}

.section-one , .section-two , .section-three{
    grid-template-columns: 1fr;
}

.section-one .part2 , .section-three .part2{
    grid-row: 2/1;
}

.top-section-one h6{
    text-align: center;
}


.top-section-one p{
    font-size: 3rem;
    text-align: center;
}


}
