@media (min-width:320px) and (max-width:767px){
     
    
    header{
        background-color:rgba(128, 128, 128, 0.14);
    }

    header .all-sides{
    grid-template-columns: 1fr;

    }

    header .all-sides .right__side{
        display: none;
    }

    header .all-sides .left__side{
        justify-items: center;
    }

    header .all-sides .left__side a img{
        height: 1.8rem;
    }

    .banner{
        height: 100vh;
    }

    .un-banner div{
    grid-template-columns: repeat(4,auto);
    }

.un-banner div img{ 
    height: 1.2rem;
}


.section-one .part1 span ,.section-two .part1 span,.section-three .part1 span{
    font-size: 4rem;
}

.section-one .part1 .p1 , .section-two .part1 .p1 , .section-three .part1 .p1{
    font-size: 2rem;
}

.section-one .part1 .p2 , .section-two .part1 .p2 , .section-three .part1 .p2{
    font-size: 1.2rem;
    font-weight: 500;
}
   .banner .layout .content__banner{
    margin-top: 25%;
    margin-left: 0;
    width: 100%;
    justify-items: center;
   }

   .banner .layout .content__banner p{
    display: none;
   }
.banner .layout .content__banner h1{
    font-size: 3rem;
    line-height: 1.5;
    text-align: center;
}

.banner .layout .content__banner .btn__banner{
    display: grid;
    justify-items: center;
    grid-template-columns: auto auto;
}
.banner .layout .content__banner .btn__banner .btn1{ 
    font-size: 1rem;
    margin-right:0.5rem;
}

.banner .layout .content__banner .btn__banner .btn2{
    font-size: 1rem;


}

.section-five{
    padding: 10rem 0 5rem  0;

}

.section-five .section__top p{
    font-size: 3rem;
}
.section-five .section__bottom .gallary i{
    font-size: 2rem;
}
.banner .layout .content__banner .custmer{
    margin-top: 5rem;
    grid-template-columns: repeat(6,30px);

}

.banner .layout .content__banner .custmer img{
    width: 3.8rem;
    height: 3.8rem;
}

.section-one , .section-two , .section-three{
    grid-template-columns: 1fr;
}

.section-one .part2 , .section-three .part2{
    grid-row: 2/1;
}

.top-section-one h6{
    text-align: center;
}

.section-four{
    grid-template-columns:1fr;

}

.section-five .section__bottom{
    grid-template-columns: repeat(3,auto);
    grid-template-rows:repeat(4,auto) ;
}

.top-section-one p{
    font-size: 3rem;
    text-align: center;
}

.section-six{
    grid-template-columns: 1fr;
    width: 90%;

}

.padge{
    padding: 0.6rem 9rem;
    top: 2rem;
    font-size: 1.7rem;
    margin-left: 50rem;

}
.section-six div .bottom__section button{ 
    padding: 1rem 2rem;
    border-radius: 1rem;
    font-size: 1.6rem;

}

.section-six div .top__section span{
    font-size: 4rem;
}

.section-six div .center__section ul li{
    font-size: 1.3rem;
    margin-left: 4rem;

}

.section-eight .section__bottom{
    grid-template-columns: auto;

}

.section-eight .section__top p{
    font-size: 3rem;
}

.section-eight .section__bottom div h3{
    margin-bottom: 3rem;
}

.section-eight .section__bottom div p{
    font-size: 1.6rem;
    line-height: 1.5;
}



.info{
    display: grid;
    grid-template-columns:auto;
    grid-template-rows: auto auto;
    height: auto;
    width: 90%;
}

.info .info__left{
    display: grid;
    grid-template-columns:1fr;
    grid-template-rows: 1fr;
    padding: 1rem 2.5rem;

}

.info .info__left .left__bottom .content3 select{
    width: 80%;
    margin-top: 1rem;
    height: 3.5rem;
}

.info .info__left .left__bottom .content4{
    padding-bottom: 2rem;
}

.info .info__left .left__bottom .left__contact input{
    padding:1rem;
    width: 80%;
}

.info .info__left .left__bottom .content4 button{
    width: 80%;
}
.info .info__left .left__top h3{
    font-size: 2rem;
    padding-top: 2rem;

}

.info .info__left .left__top p{
    font-size: 1.3rem;
    padding-bottom: 2rem;
}

.info .info__left .left__bottom{
    display: grid;
    grid-template-columns:  1fr;
    grid-template-rows: 1fr;
}



footer .all-content {
    grid-template-columns: auto;
    grid-template-rows: repeat(5,1fr);
}


}
